#app {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding: 40px;
}

	/*  Password List  */
	.password-list {
		width: 100%;
	}
	.password-list-title {
		display: block;
		color: #444;
		font-size: 1.2em;
		letter-spacing: 1px;
		background: transparent;
		margin-bottom: 20px;
	}
	.password-list table {
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;
	}
	.password-list.empty table {
		display: none;
	}

		/*  Headers  */
		.password-list-header {
			color: #f7f7f7;
			font-size: 1em;
			font-weight: 700;
			font-style: italic;
			line-height: 140%;
			background: #444;
			border: none;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
			padding: 10px;
		}
		.password-list-header:first-child {
			border-top-left-radius: 15px;
		}
		.password-list-header:last-child {
			border-top-right-radius: 15px;
		}
		/*  Headers  */


		/*  Items  */
		.password-list-item-field {
			position: relative;
			background-color: #efefef;
			border: none;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
		}
		.password-list-item:nth-child(odd) .password-list-item-field {
			background-color: #dfdfdf;
		}
		.password-list-item:last-child .password-list-item-field:first-child {
			border-bottom-left-radius: 15px;
		}
		.password-list-item:last-child .password-list-item-field:last-child {
			border-bottom-right-radius: 15px;
		}
		.password-list-item:hover .password-list-item-field {
			background-color: #FAE4BE;
		}

			/*  Input  */
			.password-list-item-field-input {
				color: #333;
				font-size: 1.1em;
				font-weight: 300;
				font-family: courier;
				text-decoration: none;
				text-align: center;
				line-height: 140%;
				background: transparent;
				outline: none;
				border: none;
				padding: 10px;
			}
			.password-list-item-field-input:focus {
				outline: none;
			}
			.password-list-item-field:first-child .password-list-item-field-input {
				text-align: left;
			}
			.password-list-item-field:last-child .password-list-item-field-input {
				text-align: right;
			}

				/*  Place holder text  */
				.password-list-item-field-input::-webkit-input-placeholder {
					color: #888;
					font-size: 0.8em;
					font-style: italic;
					text-align: center;
				}
				.password-list-item-field-input:-moz-placeholder {/* Firefox 18- */
					color: #888;
					font-size: 0.8em;
					font-style: italic;
					text-align: center;
				}
				.password-list-item-field-input::-moz-placeholder {/* Firefox 19+ */
					color: #888;
					font-size: 0.8em;
					font-style: italic;
					text-align: center;
				}
				.password-list-item-field-input:-ms-input-placeholder {
					color: #888;
					font-size: 0.8em;
					font-style: italic;
					text-align: center;
				}
				.password-list-item-field:first-child .password-list-item-field-input::-webkit-input-placeholder {
					text-align: left;
				}
				.password-list-item-field:first-child .password-list-item-field-input:-moz-placeholder {/* Firefox 18- */
					text-align: left;
				}
				.password-list-item-field:first-child .password-list-item-field-input::-moz-placeholder {/* Firefox 19+ */
					text-align: left;
				}
				.password-list-item-field:first-child .password-list-item-field-input:-ms-input-placeholder {
					text-align: left;
				}
				.password-list-item-field:last-child .password-list-item-field-input::-webkit-input-placeholder {
					text-align: right;
				}
				.password-list-item-field:last-child .password-list-item-field-input:-moz-placeholder {/* Firefox 18- */
					text-align: right;
				}
				.password-list-item-field:last-child .password-list-item-field-input::-moz-placeholder {/* Firefox 19+ */
					text-align: right;
				}
				.password-list-item-field:last-child .password-list-item-field-input:-ms-input-placeholder {
					text-align: right;
				}
				/*  Place holder text  */

			/*  Input  */

		/*  Items  */


		/*  Alignments  */
		.password-list-header,
		.password-list-item-field {
			text-align: center;
		}
		.password-list-header:first-child,
		.password-list-item-field:first-child {
			text-align: left;
		}
		.password-list-header:last-child,
		.password-list-item-field:last-child {
			text-align: right;
		}
		/*  Alignments  */


		/*  Icon Field  */
		.password-list-item-field-icon {
			width: 48px;
		}
		/*  Icon Field  */


		/*  Password Visibility Toggle  */
		.password-list-item-field .password-visibility-toggle {
			position: absolute;
			left: 0;
			top: 11px;
			color: #aaa;
			font-size: 1.6em;
			-webkit-transition: all 0.2s ease-in-out 0;
			-moz-transition: all 0.2s ease-in-out 0;
			transition: all 0.2s ease-in-out 0;
			cursor: pointer;
		}
		.password-list-item.password-visible .password-list-item-field .password-visibility-toggle,
		.password-list-item-field .password-visibility-toggle:hover,
		.password-list-item-field .password-visibility-toggle.active {
			color: #666;
			font-size: 1.8em;
		}
		/*  Password Visibility Toggle  */


		/*  Delete Password  */
		.password-list-item-field .delete-password {
			position: absolute;
			left: 0;
			top: 10px;
			color: #aaa;
			font-size: 1.6em;
			-webkit-transition: all 0.2s ease-in-out 0;
			-moz-transition: all 0.2s ease-in-out 0;
			transition: all 0.2s ease-in-out 0;
			cursor: pointer;
		}
		.password-list-item-field .delete-password:hover,
		.password-list-item-field .delete-password.active {
			color: #666;
			font-size: 1.8em;
		}
		/*  Delete Password  */


		/*  Action Menu  */
		.password-list-action-menu {
			display: inline-block;
			vertical-align: top;
			width: 100%;
			margin-top: 20px;
		}
		.password-list-action-menu-item {
			float: right;
			cursor: pointer;
			font-size: 1.5em;
			color: #888;
			-webkit-transition: font-size 0.2s ease-in-out 0, color 0.2s ease-in-out 0;
			-moz-transition: font-size 0.2s ease-in-out 0, color 0.2s ease-in-out 0;
			transition: font-size 0.2s ease-in-out 0, color 0.2s ease-in-out 0;
		}
		.password-list-action-menu-item:hover {
			font-size: 2em;
			color: #444;
		}

			/*  When list is empty  */
			.password-list.empty .password-list-action-menu-item {
				float: left;
			}
			/*  When list is empty  */

		/*  Action Menu  */


		/*  Empty Message  */
		.password-list-empty-message {
			display: none;
			color: #333;
			font-size: .9em;
			font-weight: 300;
			font-style: italic;
			text-decoration: none;
			line-height: 140%;
		}
		.password-list.empty .password-list-empty-message {
			display: block;
		}
		/*  Empty Message  */

	/*  Password List  */